



$main-color: #10c9c3;

$light-gray: #e9e9e9;

$white: #ffffff;

$very-light-gray: #f8f9f9;

$light-gray-2: #d8d8d8;

$light-gray-3: #dddddd;

$dark-gray: #838383;

$black: #252525;

$gary-font: #dbdbdb;

$black-footer:#141414;

$Scissors-Gradient: hsl(39, 89%, 49%) ;
$Paper-Gradient: hsl(230, 89%, 62%) ;
$Rock-Gradient: hsl(349, 71%, 52%) ;
$Lizard-Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
$Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);


// test

$Dark-Text: hsl(229, 25%, 31%);
$Score-Text: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);


// background

$background-gradiant: radial-gradient(circle , hsl(214, 47%, 23%) , hsl(237, 49%, 15%));


    // images
    

